<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>persediaanServlet</servlet-name>
        <servlet-class>control.persediaanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>supplierServlet</servlet-name>
        <servlet-class>control.supplierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BarangmskServlet</servlet-name>
        <servlet-class>control.BarangmskServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BarangklrServlet</servlet-name>
        <servlet-class>control.BarangklrServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BaranghlgServlet</servlet-name>
        <servlet-class>control.BaranghlgServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReturpemServlet</servlet-name>
        <servlet-class>control.ReturpemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReturpnjServlet</servlet-name>
        <servlet-class>control.ReturpnjServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userServlet</servlet-name>
        <servlet-class>control.userServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>persediaanServlet</servlet-name>
        <url-pattern>/persediaanServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>supplierServlet</servlet-name>
        <url-pattern>/supplierServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BarangmskServlet</servlet-name>
        <url-pattern>/BarangmskServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BarangklrServlet</servlet-name>
        <url-pattern>/BarangklrServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BaranghlgServlet</servlet-name>
        <url-pattern>/BaranghlgServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReturpemServlet</servlet-name>
        <url-pattern>/ReturpemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReturpnjServlet</servlet-name>
        <url-pattern>/ReturpnjServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userServlet</servlet-name>
        <url-pattern>/userServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
